body {
    background-color: #FFFFF9;
    font-family: sans-serif;
}

input[type="button"] {
    -webkit-appearance: none;
}

/* ヘッダー部分 */
body > div.headerArea {
    
}

    div.headerArea > table.title {
        width: 100%;
        height: 50px;
        background-color: dodgerblue;  
        text-align: center;
        font-size: 250%;
        font-style: italic;
        font-weight: bold;
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
    }

    div.headerArea > table.login {
        width: 100%;
        height: 50px;
        background-color: lightskyblue;
        border-color: gray;
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
        border-collapse: collapse;
        margin: 5px 0px 0px;
    }

        table.login td.login {
            width: 100%;
            font-size: 100%;
        }

            td.login > input.userId {
                ime-mode: disabled;
            }

            td.login > input.password {
                ime-mode: disabled;
            }

            td.login > input.loginBtn {
                background-color: aquamarine;
                vertical-align: middle;
                font-size: 100%;
            }
            
            td.login > span {
                font-size: 100%;
            }

    div.headerArea > table.toolBox {
        width: 100%; 
        height: 50px;
        background-color: lavender;
        border-color: gray;
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
        border-collapse: collapse;
        margin: 5px 0px 0px;
    }

        table.toolBox td.update {
            width: 5%;
            text-align: right;
        }

            td.update > input.updateBtn {
                background-color: gold;
                vertical-align: middle;
                font-size: 100%;
                height: 100%;
            }

/* コンテンツ部分 */
    div.contentsArea > table.watchLog {
        text-align: center;
        width: 100%;
        background-color: #F9FFFF;
        border: 2px #000000 solid;
        border-collapse: collapse;
        margin: 5px 0px 0px;
    }

    table.watchLog tr, table.watchLog td {
        border: 1px #000000 solid;
        border-collapse: collapse;
        height: 50px;
    }

    table.watchLog th {
        border-style: solid solid double;
        border-color: #000000;
        border-width: 1px 1px 3px;
        border-collapse: collapse;
        height: 50px;
    }
        
        table.watchLog th > input {
            font-weight: bold; 
            font-size: 100%; 
            background-color: whitesmoke; 
            width: 99%;
        }

        table.watchLog td.category, table.watchLog th.category{
            width: 2%;
            padding: 2px 0px;
        }

        table.watchLog td.title, table.watchLog th.title {
            width: 25%;
            padding: 2px 0px;
        }

        table.watchLog td.whenStart, table.watchLog th.whenStart {
            width: 8%;
            padding: 2px 0px;
        }

        table.watchLog td.watchedEpisodeNum, table.watchLog th.watchEpisodeNum {
            width: 35%;
            padding: 2px 0px;
        }

            td.watchedEpisodeNum input[type="button"] {
                font-size: 100%;
                background-color: whitesmoke;
            }

            td.watchedEpisodeNum input[type="text"] {
                font-size: 100%;
                text-align: right;
            }

        table.watchLog td.status, table.watchLog th.status {
            width: 25%;
            padding: 2px 0px;
        }

            td.status input {
                font-size: 100%;
            }

            td.status input.allWatched {
                color: black; 
                font-weight: bold;
                background-color: aqua;
                width:98%;
                border-style: inset;
            }

            td.status input.nowWatching_on {
                color: black;
                font-weight: bold;
                background-color: lightskyblue;
                width:48%;
                border-style: inset;
            }
            td.status input.nowWatching_off {
                color: #444444;
                background-color: gainsboro;
                width:48%;
            }

            td.status input.stopWatching_on {
                color: black;
                font-weight: bold;
                background-color: #FF82B2;
                width:48%;
                border-style: inset;
            }
            td.status input.stopWatching_off {
                color: #444444;
                background-color: gainsboro;
                width:48%;
            }

            td.status input.toWatch_on {
                color: black;
                font-weight: bold;
                background-color: aquamarine;
                width:48%;
                border-style: inset;
            }
            td.status input.toWatch_off {
                color: #444444;
                background-color: gainsboro;
                width:48%;
            }

            td.status input.notWatch_on {
                color: black;
                font-weight: bold;
                background-color: lightpink;
                width:48%;
                border-style: inset;
            }
            td.status input.notWatch_off {
                color: #444444;
                background-color: gainsboro;
                width:48%;
            }

/* フッター部分 */
body > div.footerArea {
    
}

    div.footerArea > table.toolbox {
        width: 100%; 
        height: 50px;
        background-color: lavender;
        border-color: gray;
        border-style: solid;
        border-color: #000000;
        border-width: 2px;
        border-collapse: collapse;
        margin: 5px 0px 0px;
    }